.personalizar_guardar{

    text-decoration: none;
    padding: 5px;
    font-weight: 300;
    font-size: 10px;
    color: #ffffff;
    background-color: #38ba18;
    border-radius: 6px;
    border: 1px #38ba18;
}
.personalizar_guardar:hover{
    color: #ffffff;
    background-color: #1c8cb4;
  }

  .personalizar_eliminar{
 
    text-decoration: none;
    padding: 5px;
    font-weight: 300;
    font-size: 10px;
    color: #ffffff;
    background-color: #f58b00;
    border-radius: 6px;
    border: 1px #f58b00;
}
.personalizar_eliminar:hover{
    color: #ffffff;
    background-color: #cf0d0d;
  }

body{

    background-color: #ffffff;
}

h1{
    font-family: sans-serif;
    font-weight: 100;

}

label{

    font-family: sans-serif;
    font-weight: 100;
}

input{
    outline: none;
    background-color: white;
    border-radius: 5px;
    border: 2px solid;
    border-color: #868f92
}

#contenedor label, input{
    display: block;
   
}

body{
    width: 400px;
    margin: 10px auto;
    font-family: serif;
}


div {
    margin: 28px 0;
  }
  div label {
    width: 45%;
    float: left;
  }